body {
  margin: 0;
  text-align: center;
  background: #0C2B68;
  color: white;
  font-family: sans-serif;
}

canvas {
  width: 100vw;
  height: 70vh;
  background: #0C2B68;
}

.hidden {
  display: none;
}

button {
  padding: 12px;
  margin: 6px;
  font-size: 16px;
}
