html, body {
  margin: 0;
  overflow: hidden;
  background: #0C2B68;
  color: white;
  font-family: Arial;
  touch-action: none;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.hidden {
  display: none;
}

#menu, #wait, #count {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0C2B68;
}

button, input {
  padding: 14px;
  margin: 8px;
  font-size: 18px;
}
